<div class="page" >
	<div class="header"><a href="/monitor/"><div class="headerTitle1">Web</div><div class="headerTitle2">Monitor</div></a></div>
	<div class="container" >
		<div class="navcontainer">
		
<h1 class="nav">actions</h1>

	<ul id="menu">
		<li><a href="/monitor/Register_client">- REGISTER</a></li>
	</ul>
	<ul id="menu">
		<li><a href="/monitor/ListAll">- LIST ALL</a></li>
	</ul>
	<ul id="menu">
		<li><a href="/monitor/Test">- TEST</a></li>
	</ul>
	<ul id="menu">
		<li><a href="/monitor/TestAll">- TEST ALL</a></li>
	</ul>

<h1><br/></h1>

		</div>
<div class="content">