<%= render :partial => 'head' %>
<title>OpenRegistry Help</title>
</head>
<body>
<% @page_name = "Help" %>
<%= render :partial => 'navigation' %>
	<h2>Help</h2>
	<hr/>
	
	<p>This service is compliant with the OpenRegistry standard.  For more information, see <a href="http://openregistry.info/">http://openregistry.info/</a>.  </p>



<%= render :partial => 'tail' %>