<%= render :partial => 'head' %>
<title>Web Monitor Service: registration response</title>
</head>
<body>
<%= render :partial => 'navigation' %>
<center>
	<h1>Registration Success!</h1>
</center>
<%= render :partial => 'tail' %>